body
{
	font-family: sans-serif;
}

.dp50
{
	width:50%;
	float:left;
	display: inline;
	*margin-right:-1px;
}

.ace_editor,
#sandbox
{
	height: 160px;
}

#sandbox > iframe
{
	width: 100%;
	height: 100%;
	border: none;
}

[data-type]:before
{
	position: absolute;
	content: attr(data-type);
	background: #eee;
	color: #aaa;
	font-size: 10px;
	line-height: 15px;
	padding: 0 5px;
	border: 1px solid #ddd;
	top: 5px;
	right: 5px;
	z-index: 10;
}

ul#console
{
	list-style: none;
	padding: 0;
}

ul#console li.error
{
	color: #ff0000;
}

ul#console li.warn
{
	color: #db931d;
}

ul#console li.debug,
ul#console li.log,
ul#console li.info
{
	color: #0000ff;
}
