body
{
	font-family: sans-serif;
}

.dp50
{
	width: 50%;
	float: left;
	display: inline;
	*margin-right: -1px;
}

.ace_editor,
.sandbox
{
	height: 160px;
}

.sandbox > iframe
{
	width: 100%;
	height: 100%;
	border: none;
}

div[data-type]:before
{
	position: absolute;
	content: attr(data-type);
	background: #eee;
	color: #aaa;
	font-size: 10px;
	line-height: 15px;
	padding: 0 5px;
	border: 1px solid #ddd;
	top: 5px;
	right: 5px;
	z-index: 10;
}

.console
{
	list-style: none;
	max-width: 100%;
	overflow: auto;
	padding: 0;
}

.console li
{
	position: relative;
	transition: .3s all;
	border-bottom: 1px solid #ccc;
}

.console li:hover
{
	padding-left: 200px;
}

.console li:before
{
	position: absolute;
	content: attr(data-date);
	color: #999;
	left: -200px;
	transition: .3s all;
	font-family: monospace;
}

.console li:hover:before
{
	left: 0;
}

.console li pre
{
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	margin: 2px 0;
}

.console .error
{
	color: #ff0000;
}

.console .warn
{
	color: #db931d;
}

.console .debug,
.console .log,
.console .info
{
	color: #0000ff;
}
