body
{
	font-family: sans-serif;
}

.row
{
	display: flex;
}

.col
{
	position: relative;
	flex-grow: 1;
}

.col > textarea
{
	min-height: 50px;
	width: 100%;
}

.col[data-type]:before
{
	position: absolute;
	content: attr(data-type);
	background: #eee;
	color: #aaa;
	font-size: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	top: 5px;
	right: 5px;
}
